@charset "UTF-8";
/* Reset des styles par défaut des navigateurs */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Styles globaux pour le projet */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  background-color: #f3f3f3;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Belanosima", sans-serif;
  color: #000000;
}

h1 {
  font-size: 4.5rem;
  line-height: 5.375rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-decoration: underline #d2483d;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.188rem;
}

/* Liens */
a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Classes utilitaires */
.text-center {
  text-align: center;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0 1rem 3rem;
}
.appBar__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.appBar__nav {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.appBar__navItem {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  margin-right: 1rem;
  transition: color 0.3s ease;
}
.appBar__navItem:hover {
  color: #d2483d;
}
.appBar__navItem.active {
  text-decoration: underline #d2483d;
}
@media (max-width: 768px) {
  .appBar {
    flex-direction: column;
    padding: 2.75rem 0;
    justify-content: center;
  }
  .appBar__icon {
    width: 3rem;
    height: 3rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #000000;
  color: #ffffff;
  padding: 5rem 4.5rem;
}
.footer__icon {
  width: 2.25rem;
  height: 2.25rem;
  margin-left: 3.25rem;
  transition: transform 0.3s ease;
}
.footer__icon:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .footer {
    justify-content: center;
    padding: 4.75rem 0;
  }
  .footer__icon {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}

.redBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d2483d;
  color: #ffffff;
  padding: 3.75rem 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.redBanner.in-view {
  opacity: 1;
  transform: translateY(0);
}
.redBanner__title {
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .redBanner {
    padding: 2.75rem 0;
  }
  .redBanner__title {
    margin-bottom: 2rem;
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4.5rem 0;
}
.contactInfo__title {
  font-family: "Belanosima", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
}
.contactInfo__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  width: 85%;
  color: #000000;
}
@media (max-width: 768px) {
  .contactInfo__text {
    max-width: 16rem;
  }
}

.cta {
  background-color: #d2483d;
  padding: 10px 20px;
}
.cta a {
  color: azure;
}
.cta:hover {
  background-color: black;
  color: white;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6.5rem;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}

.hero__titleContainer {
  padding: 2.75rem 7.5rem 0 0;
}
@media (max-width: 768px) {
  .hero__titleContainer {
    padding: 2.75rem 1.5rem 0 1.5rem;
  }
}

.hero__title {
  margin: 0 0 0.75rem 0;
}

.hero__subtitle {
  margin: 0 0 2rem 0;
  font-weight: 600;
}

.hero__icon {
  width: 19rem;
  height: 19rem;
}
@media (max-width: 768px) {
  .hero__icon {
    width: 12rem;
    height: 12rem;
  }
}

/* Address section */
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 4.5rem;
}
@media (max-width: 768px) {
  .address {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}

.address__title {
  margin-bottom: 2.25rem;
}

.address__carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}
@media (max-width: 768px) {
  .address__carousel {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.address__img {
  width: 19rem;
  height: 13.5rem;
  object-fit: cover;
}

.address__info {
  margin: 0.5rem 0 0 0;
}

/* About section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.25rem;
}

.about__title {
  margin-bottom: 1rem;
}

.about__text {
  margin: 0;
  width: 85%;
}
@media (max-width: 768px) {
  .about__text {
    width: 100%;
  }
}

/* Social Media section */
.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .socialMedia {
    margin-top: 2rem;
  }
}

.socialMedia__title {
  margin-bottom: 2.25rem;
}

.socialMedia__carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4.5rem;
}
@media (max-width: 768px) {
  .socialMedia__carousel {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.socialMedia__img {
  width: 15.5rem;
  height: 15.5rem;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0 9.5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .menu {
    margin: 0 2rem;
  }
}

.menu__title {
  margin: 2.25rem 0 0 0;
}

.menu__subtitle {
  margin: 0 0 2.25rem 0;
}

.menu__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}

.menu__icon {
  width: 9rem;
  height: 9rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .menu__icon {
    width: 6rem;
    height: 6rem;
  }
}

.menu__part {
  margin-bottom: 3.75rem;
}

.menu__partTitle {
  margin-bottom: 1.75rem;
}

.menu__partDish {
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  margin: 6rem 0 2.5rem 0.75rem;
}

.contact__addressContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  .contact__addressContainer {
    flex-direction: column;
    align-items: center;
  }
}

.contact__address {
  padding: 0 1.5rem;
  margin-top: 0;
}
@media (max-width: 768px) {
  .contact__address {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
