// Couleurs
$red-highlight: #d2483d;
$light-grey: #f3f3f3;
$dark-grey: #a9a9a9;
$black: #000000;
$white: #ffffff;

// Polices
$body-font: "Montserrat", sans-serif;
$title-font: "Bebas Neue", sans-serif;
$header-font: "Belanosima", sans-serif;

// Poids des polices
$body-font-weight: 400;
$body-highlight-font-weight: 600;
$title-font-weight: 600;
$header-font-weight: 400;

// Tailles des polices
$body-font-size: 1.25rem;
$title-font-size: 1.5rem;
$header-font-size: 4.5rem;
$body-line-height: 1.5rem;
$title-line-height: 1.75rem;
$header-line-height: 5.375rem;

// Espacements
$padding-appBar-vertical: 1rem;
$padding-appBar-horizontal: 3rem;
$margin-navItem-right: 1rem;

// Tailles des icônes
$appBar-icon-size: 1.5rem;
$footer-icon-size: 2.25rem;

// Variables pour la responsivité
$mobile-body-font-size: 1rem;
$mobile-header-font-size: 2.5rem;
$mobile-title-font-size: 1.25rem;
$mobile-body-line-height: 1.25rem;
$mobile-header-line-height: 3rem;
$mobile-title-line-height: 1.5rem;

// Espacements pour mobile
$mobile-padding-appBar-vertical: 2.75rem;
$mobile-padding-appBar-horizontal: 0;
$mobile-margin-navItem-right: 1.25rem;
